@font-face {
  font-family: "Outfit Bold";
  src:
    url("../fonts/Outfit-Bold.woff2") format("woff2"),
    url("../fonts/Outfit-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit SemiBold";
  src:
    url("../fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit Medium";
  src:
    url("../fonts/Outfit-Medium.woff2") format("woff2"),
    url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit Regular";
  src:
    url("../fonts/Outfit-Regular.woff2") format("woff2"),
    url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit Light";
  src:
    url("../fonts/Outfit-Light.woff2") format("woff2"),
    url("../fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
}
