.T_Bold {
  font-family: "Outfit Bold", sans-serif;
  font-size: 32px;
}
.T_SemiBold {
  font-family: "Outfit SemiBold", sans-serif;
  font-size: 48px;
}
.S_SemiBold {
  font-family: "Outfit SemiBold", sans-serif;
  font-size: 20px;
}
.S_Regular {
  font-family: "Outfit Regular", sans-serif;
  font-size: 20px;
}
.S_Medium {
  font-family: "Outfit Medium", sans-serif;
  font-size: 20px;
}
.S_Light {
  font-family: "Outfit Light", sans-serif;
  font-size: 20px;
}
.B_Medium {
  font-family: "Outfit Medium", sans-serif;
  font-size: 14px;
}
.B_Regular {
  font-family: "Outfit Regular", sans-serif;
  font-size: 14px;
}
.B_Light {
  font-family: "Outfit Light", sans-serif;
  font-size: 14px;
}
.B_Light_Underline {
  font-family: "Outfit Light", sans-serif;
  text-decoration: underline;
  font-size: 14px;
}
.B_Regular {
  font-family: "Outfit Regular", sans-serif;
  font-size: 14px;
}
